@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
  @apply transition-all;
}

.OauthBtn {
  @apply sm:w-1/2 w-10/12  items-center  justify-center gap-2 px-4 py-3  text-black font-semibold  rounded-md border border-[#D8DAE5];
}
